OZMD_DEV_PORT=8085
OZMD_ZIPTEST_PORT=8086

OZMD_DEV_DB_NAME=wordpress
OZMD_DEV_DB_USER=wordpress
OZMD_DEV_DB_PASSWORD=wordpress-dev-only
OZMD_DEV_DB_ROOT_PASSWORD=root-dev-only

OZMD_ZIPTEST_DB_NAME=wordpress
OZMD_ZIPTEST_DB_USER=wordpress
OZMD_ZIPTEST_DB_PASSWORD=wordpress-ziptest-only
OZMD_ZIPTEST_DB_ROOT_PASSWORD=root-ziptest-only
